<div><h1>Dear</h1></div>
<div><h3>We have received a notification that you would like to reset your
    password.</h3>
</div>
<div><h3>Please visit the link below to refresh your password.</h3></div>
<a 
    style='text-decoration:none;hover'
    href='http://your-app-url/reset-password?token={{token}}'
  ><button
  style='width: 200px;background-color:rgb(78, 166, 238);height:50px;border:none;color:white'
>Reset My Password</button></a>
<div style='color: red;'><h2>Do not share this link with others!!</h2></div>
<div>----------------------------</div>
<div><h3>If you need help please contact:</h3>
  <div>website:
    <a href='https://www.youtube.com'>https://www.youtube.com</a>
  </div>
  <div>Zalo:</h3>
    <a href='/'>0123456789</a>
  </div>
</div>
<div><h2>Thanks!</h2></div>